<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>新建营销任务</title>
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../css/iframe.css">
		<link rel="stylesheet" href="../css/jquery.pagination.css">
		<link rel="stylesheet" href="../css/jquery-ui.css">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="../css/swiper.css">
		<link rel="stylesheet" href="../css/myTaskCom.css">
		<link rel="stylesheet" href="../css/myTask3.css">
		<link rel="stylesheet" href="../css/element-ui/index.css">
<link rel="stylesheet" href="../css/page-forminfo.css" >
		<script src="../js/jquery.min.js"></script>
		<script src="../css/element-ui/vue.js"></script>
		<script src="../css/element-ui/index.js"></script>

	</head>
	<body>
		<div class="myContent">
			<div class="top_title">新建广告营销</div>


			<div class="ct" id="ct" style="border:0;">
				<p class="titl">投放信息</p>


				<div class="myCont" style="margin-left:150px;margin-top:40px;">

					<div class="row">
						<label class="lb"><span style="color:red;">*</span>广告名称</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="text" v-model="adWord" placeholder='广告名称' @keyup="cutTxt" class="frm_input">
							</span>{{adWord.length}}/30
						</div>
					</div>

					<div class="row" id="ranTime">
						<label class="lb"><span style="color:red;">*</span>投放时间</label>
						<div class="rg">

							<div class="datetimerange_box">
								<el-date-picker v-model="dateRate" :picker-options="pickerOptions" type="daterange" range-separator="至"
								 start-placeholder="开始日期" end-placeholder="结束日期">
								</el-date-picker>
							</div>
						</div>
					</div>

					<div class="row">
						<label class="lb"><span style="color:red;">*</span>投放总预算</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="number" v-model="zys" placeholder='投放总预算' onblur="" class="frm_input">
							</span>
						</div>
					</div>
					<div class="row">
						<label class="lb"><span style="color:red;">*</span>每日预算</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="number" v-model="ys" placeholder='每日预算' onblur="" class="frm_input">
							</span>
						</div>
					</div>

					<div class="row">
						<label class="lb"><span style="color:red;">*</span>出价类型</label>
						<div class="rg">
							<div class="radio" style="margin-top:10px;">
								<input id="radio-1" name="type" type="radio" checked value="0" v-model="type">
								<label for="radio-1" class="radio-label">CPM <span style="color:#b2b2b2;">平均每一千人分别听到或者看到某广告一次一共需要多少广告成本</span></label>
							</div>

							<div class="radio">
								<input id="radio-2" name="type" type="radio" value="1" v-model="type">
								<label for="radio-2" class="radio-label">CPC <span style="color:#b2b2b2;">点击付费广告，根据广告被点击的次数收费</span></label>
							</div>
							<div class="radio">
								<input id="radio-3" name="type" type="radio" value="2" v-model="type">
								<label for="radio-3" class="radio-label">CPS <span style="color:#b2b2b2;">以实际销售产品数量来计算广告费用</span></label>
							</div>

						</div>
					</div>


				</div>

				<p class="titl">流量渠道</p>


				<div class="myCont" style="margin-left:150px;margin-top:40px;">
					<div class="row">
						<label class="lb"><span style="color:red;">*</span>媒体</label>
						<div class="rg">
							<button class="value_button next" @click="mediaSel" style="color:#666666;background: white;border:1px solid #e5e5e5;border-radius: 5px;margin-left: 0;">选择媒体</button>

						</div>
					</div>
					<div v-if="isMedia" class="row">
						<label class="lb">&nbsp;</label>
						<div class="rg">
							<select-tree :data="media" @change="mediaChange" propname="media" >
							</select-tree>
						</div>

					</div>

					<div class="row">
						<label class="lb"><span style="color:red;">*</span>地域</label>
						<div class="rg">
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-4" name="area" type="radio" checked="checked" @click="changeArea" value="0" v-model="area">
								<label for="radio-4" class="radio-label">不限</label>
							</div>
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-5" name="area" type="radio" @click="changeArea" value="1" v-model="area">
								<label for="radio-5" class="radio-label">省市</label>
							</div>
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-6" name="area" type="radio" @click="changeArea" value="2" v-model="area">
								<label for="radio-6" class="radio-label">地理位置</label>
							</div>

							<br />
							<button class="value_button next" onClick="show();" style="color:#666666;background: white;border:1px solid #e5e5e5;border-radius: 5px;margin-left: 0;">
								选择地域</button>
						</div>
					</div>
					<div class="row">
						<label class="lb">&nbsp;</label>
						<div class="rg">
							已选择 2个
						</div>

					</div>

					<div class="row">
						<label class="lb">兴趣</label>
						<div class="rg">
							<button class="value_button next" @click="insSel" style="color:#666666;background: white;border:1px solid #e5e5e5;border-radius: 5px;margin-left: 0;">
								选择兴趣</button>
						</div>
					</div>
					<div v-if="isIns" class="row">
						<label class="lb">&nbsp;</label>
						<div class="rg">
							
							<select-tree  @change='xqVal' :data="ins">
							</select-tree>
						</div>

					</div>

					<div class="row">
						<label class="lb">性别</label>
						<div class="rg">
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-7" name="sex" type="radio" checked="checked" value="0" v-model="sex">
								<label for="radio-7" class="radio-label">不限</label>
							</div>
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-8" name="sex" type="radio" value="1" v-model="sex">
								<label for="radio-8" class="radio-label">男</label>
							</div>
							<div class="radio" style="float:left;margin-right:3rem;">
								<input id="radio-9" name="sex" type="radio" value="2" v-model="sex">
								<label for="radio-9" class="radio-label">女</label>
							</div>

						</div>
					</div>

					<div class="row">
						<label class="lb">年龄</label>
						<div class="rg">
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="0" />
									<span>
										小于18
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="1">
									<span>
										18-25
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="2">
									<span>
										25-30
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="3">
									<span>
										30-35
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="4">
									<span>
										35-40
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="5">
									<span>
										40-50
									</span>
								</label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="age" value="6">
									<span>
										大于50
									</span>
								</label>
							</div>
						</div>
					</div>

					<div class="row">
						<label class="lb">收入水平</label>
						<div class="rg">
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="income" value="0"><span>
										小于1000元 </span> </label> </div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="income" value="1"><span>
										1001-3000元 </span></label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="income" value="2"><span>
										3001-5000元 </span></label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="income" value="3"><span>
										5001-10000元</span></label>
							</div>
							<div style="float:left;">
								<label class="checkbox_box">
									<input style="margin-left: 0px;" type="checkbox" name="type" class='cb' v-model="income" value="4"><span>
										大于10000元</span></label>
							</div>

						</div>
					</div>

				</div>


				<p class="titl">上传素材</p>

				<div v-for="(item,index) in scArr" class="myCont" style="margin-left:150px;margin-top:40px;">
					<div class="row">
						<label class="lb">{{item.name}}</label>
						<div class="rg">

						</div>
					</div>

					<div class="row">
						<label class="lb"><span style="color:red;">*</span>素材名称</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="text" placeholder='素材名称' v-model="item.scName" class="frm_input">
							</span>
						</div>
					</div>
					<div class="row">
						<label class="lb"><span style="color:red;">*</span>落地页地址</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="text" placeholder='落地页地址' v-model="item.path"  class="frm_input">
							</span>
						</div>
					</div>
					<div class="row">
						<label class="lb">文本</label>
						<div class="rg">
							<span class="form_input_box" style="width:350px;">
								<input type="text" placeholder='文本' v-model="item.txt" class="frm_input">
							</span>
						</div>
					</div>
					<div class="row">
						<label class="lb"><span style="color:red;">*</span>上传图片</label>
						<div class="rg">

							<button class="value_button next"  style="color:#666666;background: white;border:1px solid #e5e5e5;border-radius: 5px;margin-left: 0;">
								选择图片</button>
						</div>
					</div>

				</div>

				<button class="value_button next" onClick="next();" style="margin-left: 306px;margin-top:30px;margin-bottom: 30px;">下一步</button>

			</div>
	</body>
</html>
<script src="../js/selectTree.js"></script>
<script src="../js/interest.js"></script>
<script src="../js/mediaData.js"></script>

<script>
	var app;
	$(function() {
		initVue();
	});
	

	function initVue() {
		var obj = {};
		obj.adWord = "";
		obj.dateRate = [];
		obj.zys = '';
		obj.ys = '';
		obj.type = 0;
		obj.media = mediaData;
		obj.selMedia = [];
		obj.isMedia = false;
		obj.area = [];
		obj.ins = interestData;
		obj.selIns = [];
		obj.isIns = false;
		obj.sex = 0;
		obj.age = [];
		obj.income = [];
		
		obj.materials = [];
		
		obj.scArr=[];
		app = new Vue({
			el: "#ct",
			data: function() {
				var d = new Date();
				var dy = new Date(d);
				obj.defaultProps = {
						children: 'children',
						label: 'label'
					},
					obj.pickerOptions = {
						onPick: ({
							maxDate,
							minDate
						}) => {

							this.pickerMinDate = minDate.getTime()
							if (maxDate) {
								this.pickerMinDate = ''
							}
						}

					}
				return obj;
			},
			methods:{
				cutTxt(){
				  app.$data.adWord = app.$data.adWord.substring(0,30);	
				},
				changeArea(){
					
				},
				mediaSel(){
					app.$data.media = mediaData;
					app.$data.selMedia = [];
					app.$data.isMedia = !app.$data.isMedia;
				},
				mediaChange(e,val){
					app.$data.selMedia = val;
					var ele= val.map(function(item){
						var obj = {};
						obj.item = item;
						obj.name = item.name;
						obj.txt="111";
						obj.scName = '111';
						obj.path = '111';
						obj.img = [];
						return obj;
					});
					app.$set(app.$data,'scArr',ele);
					 
				},
				insSel(){
					app.$data.ins = interestData;
					app.$data.selIns = [];
					app.$data.isIns = !app.$data.isIns;
				},
				xqVal(e,val){
					app.$data.selIns = val;
				}
			}
		});
	}
	
	function next(){
		console.log(app.$data);
	}
</script>
<style>
	label{
		font-weight: 100 !important;
	}
	.total-select{
		margin-bottom:10px;
	}
	.select-tree-module{
		width:400px;
		}
	.lb {
		margin-right: 30px;
		color: #666;
		font-size: 14px;
	}

	.rg {
		font-size: 14px;
		color: #666;
		font-weight: 100;
	}

	.titl {
		font-size: 20px;
		color: #666;
	}

	input[type="checkbox"] {
		margin-left: 49px;
		-webkit-appearance: none;
		vertical-align: middle;
		margin-top: 0;
		background: #fff;
		border: #E5E5E5 solid 1px;
		border-radius: 0;
		min-height: 12px;
		min-width: 12px;
		width: auto;
		height: auto;
	}

	input[type="checkbox"]:checked {
		background: #007398;
	}

	input[type=checkbox]:checked::after {
		content: '';

		position: absolute;
		background: transparent;
		border: #fff solid 2px;
		border-top: none;
		border-right: none;
		height: 6px;
		width: 10px;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;

	}

	input[type="radio"]+.radio-label:before {
		content: '';
		background: #fff;
		border-radius: 100%;
		border: 1px solid #b4b4b4;
		display: inline-block;
		width: 1em;
		height: 1em;
		position: relative;
		top: 0em;
		left: -1.2em;
		margin-right: 0em;
		vertical-align: top;
		cursor: pointer;
		text-align: center;
		-webkit-transition: all 250ms ease;
		transition: all 250ms ease;
	}

	input[type="radio"]:checked+.radio-label:before {
		background-color: #007398;

		box-shadow: inset 0 0 0 1px #f4f4f4;
	}
</style>
